<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:include filename="$(find iss_description)/urdf/mobile_base_system.gazebo.xacro"/>
  <xacro:include filename="$(find iss_description)/urdf/canadarm2.gazebo.xacro"/>
  <xacro:include filename="$(find iss_description)/urdf/dextre.gazebo.xacro"/>
  
  <xacro:macro name="mobile_servicing_system_gazebo" params="command_interface:=position">

    <ros2_control name="GazeboSystem" type="system">
      <hardware>
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>

      <xacro:mobile_base_system_ros2_control_joints command_interface="${command_interface}"/>      
      <xacro:canadarm2_ros2_control_joints command_interface="${command_interface}"/>
      <xacro:dextre_ros2_control_joints command_interface="${command_interface}"/> 
    </ros2_control>

  <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find iss_description)/config/mobile_servicing_system_control.yaml</parameters>
        <ros>
          <namespace></namespace>
          <remapping>/robot_description:=/robot_description</remapping>
        </ros>
      </plugin>
  </gazebo>
  
  <!-- Simulate camera at the end of big arm-->
  <link name="dextre_arm_2_dummy_camera_link"/>

  <joint name="dextre_2_camera_joint" type="fixed">
    <parent link="dextre_arm_2_wrist_roll"/>
    <child link="dextre_arm_2_dummy_camera_link"/>
    <origin xyz="0 0 -0.96" rpy="0.0 0.0 0.0"/>
  </joint>
  
  <gazebo reference="dextre_arm_2_dummy_camera_link">
      <sensor type="camera" name="camera_sensor">
          <visualize>1</visualize>
          <update_rate>10.0</update_rate>
          <camera>
              <pose>1.0 0 0 0 0 -1.57</pose>
              <horizontal_fov>1.3962634</horizontal_fov>
              <image>
                  <width>800</width>
                  <height>800</height>
                  <format>R8G8B8</format>
              </image>
              <clip>
              <near>0.01</near>
              <far>100</far>
              </clip>
              <noise>
              <type>gaussian</type>
              <stddev>0.007</stddev>
              </noise>
          </camera>
          <always_on>1</always_on>
          <topic>image_raw</topic>
      </sensor>
  </gazebo>

  </xacro:macro>

</robot>  
