<?xml version="1.0"?>

<!-- Model of ISS with the external pallet attached to the Mobile Base System -->
<robot name="mobile_servicing_system_with_pallet" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find iss_description)/robots/setups/mobile_servicing_system_with_detached_batteries.urdf.xacro"/>

  <xacro:include filename="$(find space_resources)/models/htv_transfer_vehicle/urdf/htv1_external_pallet.macro.xacro"/>  
  
  <link name="connector_pallet" />

  <joint name="joint_connector_pallet" type="fixed">
      <origin rpy="1.6057 0.1396 6.1086" xyz="4.5623 -2.2503 0.10106"/>
      <parent link="mobile_base_system"/>
      <child link="connector_pallet"/>
  </joint>
  
  <xacro:htv1_external_pallet_macro parent="connector_pallet">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:htv1_external_pallet_macro>  
    
</robot>
