<?xml version="1.0"?>
<robot name="mobile_servicing_system" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find iss_description)/urdf/mobile_servicing_system.macro.xacro"/>

  <xacro:arg name="etv_cg_cameras" default="True"/>
  <xacro:arg name="pt_cameras" default="True"/>

  <xacro:mobile_servicing_system etv_cg_cameras="$(arg etv_cg_cameras)" 
                                 pt_cameras="$(arg pt_cameras)">
  </xacro:mobile_servicing_system>
  
</robot>
